/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

.container{
  font-family: 'Raleway', sans-serif;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-transparency{
  background-color: #455a64;
  opacity: 0.8;
  height: 100%;
  width: 100%;
}

.parallax-container {
  //min-height: 70%;
  line-height: 2;
  //max-height: 100%;
  height: 500px;
  font-family: 'Raleway', sans-serif;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  font-family: 'Raleway', sans-serif;
  margin: 0;
}
